<!DOCTYPE html>
   <head>
   	<style type="text/css">
   		ul li a:hover{
  color:orange;
  background-color:white;
}
a:link{
  text-decoration: none;
}
.blockd{
  color: white;
  opacity:1.5;
}
.heading{
  text-align: center;
  color: green;
}
h2 {
  color:steelblue;
  font-size: 300%;
}
li a.active {
       background-color: ="turquoise";
       color:violet;
}
.clgname {
  color:;
}
ul {
  list-style-type: none;
  position:fixed;
  margin:0px;
  padding:0px;
  background-color: #333;
  border-radius: 10px;
  padding-right: 10px;
  top: 2;
 width:100%;
}
 li{
   float:left;

 }
 p a:hover{
   color:red;
 }

   	</style>
   </head>

<body bgcolor="#AFEEEE">

                 
                  <ul>

                       <li><a class="active" href="new.html" target="self"><h1><pre>    HOME    </pre></h1></a></li>
                       <li><a class="blockd"href="visit us.html" target="_blank" ><h1><pre>    VISIT US    </pre></h1></a></li>
                       <li><a class="blockd" href="contact us.html" target="_blank"><h1><pre>      CONTACT US      </pre></h1></a></li>
                       <li><a class="blockd" href="file:///C:/Users/Dell/Downloads/visit%20us.html" target="self"><h1><pre>   FACILITIES   </pre></h1></a></li>
                       <li><a class="blockd" href="file:///C:/Users/Dell/Downloads/visit%20us.html" target="self"><h1><pre>   ABOUT US        </pre></h1></a></li>
                  </ul>

         </br></br></br></br></br>

              <h1><p align="center" style="color:blue"><img src="http://www.nitdgp.ac.in/logo/logo.png" align="left" height ="5%" width="10%" border="1%" alt=" img"/> National Institute of Technology,Durgapur
                 <img src="https://s-media-cache-ak0.pinimg.com/236x/a2/d7/a6/a2d7a6ddce35f2bf9c53fe9fbd22971f--avengers-age-marvel.jpg" align="right" height="5%" width="10%"border="1%">
               </p>
               <p align="center" 	style="color:red">Avengers</style></p>
              <p align="center"></br>(An Institue of National Importance Under Government of India</br>Ministry of Human Resource Development)</br>Mahatma Gandhi Avenue,Durgapur 713209,West Bengal,India</p></h1>
            <hr width="100%" />
       </br></br></br></br></br>
       <marquee direction="left" scrollamount="5" hspace="5%" vspace="0%" bgcolor="orange">WELCOME TO THE MEDICAL UNIT WEBSITE OF NIT DURGAPUR</marquee>

       <div >
       <table align="center" >
       <tr>
       <td>
           <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-0/p526x296/19601372_833549363496409_3091955938142914069_n.jpg?oh=109514a521790614cb7fd6cae40632a2&oe=59CF9DF7" align="center" height ="300px" width="400px" border="1%" alt=" img"/>
       </td>
       <td >
           <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-0/s280x280/18198709_2282356245323201_4200612217191950838_n.jpg?oh=50d2110cefaec78a38e863215412377f&oe=5A0EAD5E" align="center" height ="1000px" width="500px" border="1%" alt=" img"/></td>
       <td>
           <img src="https://www.w3schools.com/css/img_fjords.jpg" align="center" height ="300px" width="400px" border="1%" alt=" img"/></td>
       </tr>
       </table>

     </div>


       <p align="center"><a class="websitelink" href="http://www.nitdgp.ac.in" >click here to go to nit dgp home</br></br></a> </p>
       </br>
     </br>
  </br>

       <table  bgcolor="#7CFC00" align="center">
              <tr>
                    <td><p> <i><h3>This                 is           a        copyright          of          roxstar        presentations          ROCXSTAR     2017           </h3></i></p></td>



    </body>
</html>
